@import url('//fonts.googleapis.com/css?family=Dosis|Candal');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Dosis', sans-serif;
	padding-top: 60px;
}
h1, h2 {
	font-family: 'Candal', sans-serif;
	margin-bottom: 24px;
}

.jumbotron {
	    text-align: center;
}

.board {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	height: 480px;
}
.column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.piece {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	cursor: pointer;
	transition: all .2s ease;
	border: 1px solid #FFFFFF;
}
.piece-empty {
	background: #E7E7E7;
	border: 1px solid transparent;
}
[class*="piece-"]:hover,
.colum-hovered [class*="piece-"] {
	border-color: #999;
	background: #ccc;
	transform: scaleX(1.1) scaleY(1.1);
	box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.16);
}
.piece-player-1 {
	background: #4A90E2;
}
.piece-player-1:hover {
	border-color: #4A90E2;
	background: #4A90E2;
}
.piece-player-2 {
	background: #F5A623;
}
.piece-player-2:hover {
	border-color: #F8E71C;
	background: #F5A623;
}
[class*="piece-player-"] {
	box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.16);
}
[class*="piece-player-"]:hover {
	box-shadow: none;
	transform: scaleX(1) scaleY(1);
}
