@import url('//fonts.googleapis.com/css?family=Dosis|Candal');

$piece-empty-color: #E7E7E7;
$piece-color-1: #4A90E2;
$piece-color-2: #F5A623;

body {
	font-family: 'Dosis', sans-serif;
	padding-top: 60px;
}

.container {
  max-width: 600px;
}

h1, h2 {
	font-family: 'Candal', sans-serif;
	margin-bottom: 36px;
}

.jumbotron {
	text-align: center;
}

.text-center {
  text-align: center;
}

.board {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	height: 480px;
  border: 2px solid $piece-empty-color;
  border-radius: 36px;
  padding: 20px;
}
.column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.piece {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
  border: 2px solid white;
  background: $piece-empty-color;
	cursor: pointer;
	text-decoration: none;
  transition: all 0.2s ease-out;
  @for $i from 1 through 30 {
    &:nth-of-type(#{$i}) {
      transition-delay: 50ms * $i;
    }
  }

  &:focus {
    text-decoration: none;
    outline: none;
  }
}
[class*="piece-player-"] {
  box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.5);
  &:hover {
    box-shadow: none;
  }
}
.piece-player-1 {
	background: $piece-color-1;
  transform: scaleX(1.1) scaleY(1.1);
  &:hover {
    background: $piece-color-1;
  }
}
.piece-player-2 {
	background: $piece-color-2;
  transform: scaleX(1.1) scaleY(1.1);
  &:hover {
    background: $piece-color-2;
  }
}
.column-hovered-player-1 {
  .piece-empty {
    border: 2px solid $piece-color-1;
    background: lighten($piece-empty-color, .5);
  }
}
.column-hovered-player-2 {
  .piece-empty {
    border: 2px solid $piece-color-2;
    background: lighten($piece-empty-color, .5);
  }
}

@media only screen and (max-width: 543px) {
  .container {
    max-width: 320px;
  }
  .board {
    height: 240px;
  }
  .piece {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    padding-top: 20px;
  }
}



// Modal
.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}
