@import url('//fonts.googleapis.com/css?family=Dosis|Candal');

* {
	box-sizing: border-box;
}

body {
	font-family: 'Dosis', sans-serif;
	padding-top: 60px;
}
h1, h2 {
	font-family: 'Candal', sans-serif;
	margin-bottom: 24px;
}

.jumbotron {
	    text-align: center;
}

.board {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	height: 480px;
}
.column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
}
.piece {
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	cursor: pointer;
	transition: all .2s ease;
	border: 1px solid #FFFFFF;
	text-decoration: none;
}
.piece:focus {
	text-decoration: none;
	outline: none;
}
.piece-empty {
	background: #E7E7E7;
	border: 1px solid transparent;
}
[class*="piece-"]:hover,
.column-hovered [class*="piece-"],
.column-hovered [class*="piece-player-"] {
	border: 1px solid #999;
}
[class*="piece-"]:hover {
  border-color: #999;
  background: #ccc;
  transform: scaleX(1.1) scaleY(1.1);
  box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.16);
  text-decoration: none;
}
.piece-player-1 {
	background: #4A90E2;
}
.piece-player-1:hover {
	border-color: #4A90E2;
	background: #4A90E2;
}
.piece-player-2 {
	background: #F5A623;
}
.piece-player-2:hover {
	border-color: #F8E71C;
	background: #F5A623;
}
[class*="piece-player-"] {
	box-shadow: inset 0px 0px 16px 0px rgba(0,0,0,0.16);
}
[class*="piece-player-"]:hover {
	box-shadow: none;
	transform: scaleX(1) scaleY(1);
}

.text-center {
	text-align: center;
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}
